.Heading{
background-color: lightgray;
margin: none;
padding: none;
display:flex;
align-items: center;

}
body{
  margin: 5px;
}

li{
  font-style: italic;
  text-decoration: underline;
}
img{
margin: 20px;
width: 75px;
}
footer{
  background-color: lightgray;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}